.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1.5rem 4rem;
}

.heading {
  color: var(--color-heading);
  font-weight: bold;
  line-height: 2.125rem;
}

.subtitle {
  color: var(--color-body);
  font-size: 1.125rem;
}
