.banner {
  width: 100%;
  margin-bottom: 5rem;
}

.title {
  font-size: 3rem;
  line-height: 3.6rem;
  margin-bottom: 1.5rem;
}

.details {
  span {
    display: inline-flex;
    align-items: center;
    margin-right: 1.5rem;

    svg {
      margin-right: 0.5rem;
    }
  }
}

.content {
  line-height: 2rem;
  font-size: 1.125rem;
  color: var(--gray-100);
  text-align: justify;

  h3 {
    margin: 4rem 0 2rem;
    font-size: 2.25rem;
    line-height: 3rem;
  }

  p, ul {
    margin: 1.5rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }
}
